<!doctype html>
<html>
<head>
    <meta charset="UTF-8">

    <title>Gulp Landing</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->


    <!-- main css -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- /main css -->


    <!-- /css -->
</head>
<body>

<!-- BEGIN content -->

{% block content %}{% endblock %}

<!-- END content -->

<!-- JS -->


<!-- Main JS-->

<script src="/assets/js/main.js"></script>
<!-- /JS -->

</body>
</html>